<% if (loggedIn && piece.author.toString()==currentUser._id.toString()) { %>

    <script src="https://cdn.ckeditor.com/ckeditor5/27.0.0/classic/ckeditor.js"></script>
    <h1 class="text-xl text-center my-4 font-bold">Edit Your Piece</h1>

    <!-- <button onclick="submitForm()">Get Data</button> -->
    <div class="m-2 max-w-lg">
        <!-- <form action="/writings/create" method="POST" id="form"> -->
        <label for="title" class="sr-only">New Title</label>
        <input type="text" name="title" id="txtTitle" autocomplete="none" required class="formInput"
            placeholder="Your Catchy Title" value="<%= piece.title %> " />

        <label for="description" class="sr-only">Describe your work. </label>
        <textarea placeholder="Describe your work. " name="description" id="txtDescription" class="formInput" cols="30"
            rows="3">
<%= piece.description %> </textarea>
    </div>

    <div id="editor">
        <%- piece.content %>
    </div>

    <div class="mt-4">
        <input type="radio" id="publishTrue" name="published" value="true" <%=piece.published? 'checked' : '' %>
        />
        <label for="publishTrue">Publish Now</label><br />
        <input type="radio" id="publishFalse" name="published" value="false" <%=!piece.published? 'checked' : '' %>
        />
        <label for="publishFalse">Save as draft</label><br />
    </div>

    <div class="w-full flex justify-end my-4">
        <button class="btn mx-2" onclick="submitForm('<%= piece._id%>')">Update and continue</button>
    </div>
    <!-- </form> -->

    <script>
        let editor;
        ClassicEditor
            .create(document.querySelector('#editor'))
            .then(newEditor => {
                console.log(editor);
                editor = newEditor;
            })
            .catch(error => {
                console.error(error);
            });

        async function submitForm(pieceId) {
            console.log("data", editor.getData());
            let body = {
                title: document.getElementById("txtTitle").value,
                content: editor.getData(),
                description: document.getElementById("txtDescription").value,
                published: document.getElementById("publishTrue").checked ? true : false,
            };

            const response = await fetch("/writings/" + pieceId + "/update?_method=PUT", {
                method: "POST",
                mode: "cors",
                cache: "no-cache",
                credentials: "same-origin",
                headers: {
                    "Content-Type": "application/json",
                    // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                redirect: "follow", // manual, *follow, error
                body: JSON.stringify(body),
            });
            console.log("response", response);
            console.log("response", response.json());
            if (response.redirected) {
                window.location.href = response.url;
            }
        }
    </script>

    <% } else { %>
        <div class="bg-red-300 rounded-md p-2">
            <p class="text-md">This is not your post. You can't edit it, silly goose!</p>
        </div>
        <% } %>