<h2 class="center">Course Table</h2>
<a href="/courses/new">Create New Course</a>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <% courses.forEach((c)=> { %>
            <tr>
                <td>
                    <a href="<%= `/courses/${c._id}`%> ">
                        <%= c.title %>
                    </a>
                </td>
                <td>
                    <%= c.description %>
                </td>
                <td>
                    <a href="<%= `/courses/${c._id}/edit`%> ">
                        Edit
                    </a>
                </td>
                <td>
                    <a href="<%= `/courses/${c._id}/delete?_method=DELETE`%>" onclick="confirm('Are you sure you want to delete? ')">
                        Delete
                    </a>
                </td>
            </tr>
            <% }) %>  
    </tbody>
</table>