<!DOCTYPE html>
<html>

<style>
  .dropdown:focus-within .dropdown-menu {
    opacity: 1;
    transform: translate(0) scale(1);
    visibility: visible;
  }
</style>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1" />
  <title>Writing Block |</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
  <nav class="bg-white border-gray-200 border-b shadow-md">

    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
      <div class="relative flex items-center justify-between h-24">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          <!-- Mobile menu button-->
          <button type="button"
            class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
            aria-controls="mobile-menu" aria-expanded="false" onClick="showMenu()" id="menuToggle">
            <span class="sr-only">Open main menu</span>
            <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
            <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="w-full flex items-center justify-center">
          <div class="flex-shrink-0 flex items-center">
            <h1 class="font-serif text-xl font-extralight">
              <a href="/"> WRITING BLOCK | </a>
            </h1>
          </div>
          <div class="hidden sm:block sm:ml-6">
            <div class="flex space-x-4 justify-center">
              <!-- Current: "bg-blue-900 text-white", Default: "text-gray-300 hover:bg-blue-700 hover:text-white" -->

              <% if (!loggedIn) { %>
                <div class="flex items-center">
                  <a href="/users" class="px-3 py-2 hover:bg-blue-700 hover:text-white rounded-md text-sm font-medium">
                    Writers</a>
                  <a href="/users/login"
                    class="text-brown-300 hover:bg-blue-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Sign
                    In</a>
                  <a href="/users/new"
                    class="text-brown-300 hover:bg-blue-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Sign
                    Up</a>
                </div>
                <% } else { %>
                  <div class="flex items-center">
                    <a href="/users"
                      class="px-3 py-2 hover:bg-blue-700 hover:text-white rounded-md text-sm font-medium">
                      Writers</a>
                    <a href="/writings/new"
                      class="px-3 py-2 hover:bg-blue-700 hover:text-white rounded-md text-sm font-medium">
                      Write A New Piece</a>
                  </div>




                  <div class="p-4 flex flex-wrap justify-end text-sm items-center">

                    <a href="/users/<%= currentUser._id %> " class="w-full text-right">Logged In as: <span
                        class="underline" >
                        <%= currentUser.email %>
                      </span>
                    </a>
                    <a href="/users/logout" class="text-red-600 underline">Logout</a>
                  </div>


                  <div class="text-left dropdown flex items-center">
                    <span class="rounded-md shadow-sm">
                      <div
                        class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                        <button
                          class="p-1 rounded-full text-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-400 focus:ring-white">
                          <span class="sr-only">View notifications</span>
                          <!-- Heroicon name: outline/bell -->
                          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                          </svg>

                        </button>
                        <% if (notifications.filter(n=> {
                          return !n.read
                          }).length > 0) { %>
                          <span
                            class="bg-red-500 rounded-full w-4 h-4 text-white font-light text-center px-1 -ml-4 -mt-4"
                            style="font-size: 0.65rem">
                            <%= notifications.filter(n=> {
                              return !n.read
                              }).length %>
                          </span>
                          <% } %>


                      </div>
                    </span>
                    <div
                      class="opacity-0 invisible dropdown-menu transition-all duration-300 transform origin-top-right -translate-y-2 scale-95">
                      <div
                        class="absolute right-0 w-56 mt-2 origin-top-right bg-white border border-gray-200 divide-y divide-gray-100 rounded-md shadow-lg outline-none"
                        aria-labelledby="headlessui-menu-button-1" id="headlessui-menu-items-117" role="menu">

                        <% notifications.forEach(n=> { %>

                          <div class="border-b p-2 text-xs cursor-pointer"
                            onclick="markRead('<%= n._id.toString() %>', '<%= n.user.toString() %>')">
                            <div class="underline">
                              <a href="<%= n.link %>">
                                <%= n.headline %>
                              </a>
                            </div>
                            <div>
                              <%= n.message %>
                                <span class="font-light text-right italic mt-2">
                                  <%= new Date(n.createdAt).toLocaleString() %>
                                </span>
                            </div>



                          </div>


                          <% }) %>

                      </div>
                    </div>
                  </div>

                  <% } %>




            </div>
          </div>


        </div>

      </div>
      <!-- Mobile menu, show/hide based on menu state. -->
      <div class="hidden" id="mobile-menu">
        <div class="px-2 pt-2 pb-3 space-y-1">
          <!-- Current: "bg-blue-900 text-white", Default: "text-gray-300 hover:bg-blue-700 hover:text-white" -->
          <a href="/users" class="block px-3 py-2 rounded-md text-base font-medium">Writers</a>
          <a href="/writings" class="block px-3 py-2 rounded-md text-base font-medium">Recent Writings</a>

          <% if (!loggedIn) { %>
            <a href="/users/login"
              class="hover:bg-blue-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Sign
              In</a>
            <a href="/users/new"
              class="hover:bg-blue-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Sign
              Up</a>
            <% } %>



        </div>

      </div>



  </nav>

  <div class="flashes">
    <% if(flashMessages) { %>
      <% if(flashMessages.success) { %>
        <div class="flash success">
          <%= flashMessages.success %>
        </div>
        <% } else if(flashMessages.error) { %>

          <div class="flash error">
            <%= flashMessages.error %>
          </div>
          <% } } %>
  </div>

  <div class="mx-4">
    <%- body %>

  </div>

  <script>
    window.addEventListener("click", function (e) {
      if (
        !document.getElementById("mobile-menu")?.contains(e.target) &&
        !document.getElementById("menuToggle")?.contains(e.target)
      ) {
        console.log("hiding");
        document.getElementById("mobile-menu")?.classList.add("hidden");
      }
    });

    function showMenu() {
      if (
        document?.getElementById("mobile-menu").classList.contains("hidden")
      ) {
        document?.getElementById("mobile-menu").classList.remove("hidden");
      } else {
        document?.getElementById("mobile-menu").classList.add("hidden");
      }
    }

    function markRead(notificationId, followerId) {

      let requestOptions = {
        method: 'GET',
        headers: {
          credentials: 'include'
        },
        redirect: 'follow'
      };

      fetch(`notifications/markRead/${notificationId}`, requestOptions)
        .then(response => response.text())
        .then(result => {
          console.log(result)
          window.location.href = '/users/';

        })
        .catch(error => console.log('error', error));


    }







  </script>
</body>

</html>