<div class="flex justify-center align-middle h-md w-md my-2">
  <img class="h-md w-36 rounded-full"
    src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=4&amp;w=256&amp;h=256&amp;q=60"
    alt="" />
  <div class="flex flex-wrap align-middle ml-4">
    <p class="w-full text-lg font-medium text-gray-900">
      <%= user.fullName %>
        <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
          Verified
        </span>

        <% if (currentUser && (currentUser._id.toString() !=user._id.toString())) { %>

          <% if (currentUser.following.includes(user._id)) { %>
            <button
              class="px-5 py-2 hover:bg-blue-50 border-blue-400 text-blue-500 text-sm border rounded-full font-bold ml-auto"
              onclick="unfollowSomeone('<%= currentUser._id %>', '<%= user._id %>')">
              Unfollow</button>

            <% } else { %>
              <button
                class="px-5 py-2 hover:bg-blue-50 border-blue-400 text-blue-500 text-sm border rounded-full font-bold ml-auto"
                onclick="followSomeone('<%= currentUser._id %>', '<%= user._id %>')">Follow</button>

              <% } %>
                <% } %>


    </p>



    <p class="w-full has-dropcap font-serif sm:w-full md:w-auto">
      <%= user.about %>
    </p>
    <a class="w-full underline text-blue-500" href="https://<%= user.website %> ">
      <%= user.website %>
    </a>
  </div>
</div>

<div class="w-full max-w-md flex flex-wrap mx-auto">
  <% writings.forEach(piece=> { %>
    <div class="w-full">
      <a href="/writings/<%= piece.id%> ">
        <h3>
          <span class="font-bold text-lg underline">
            <%= piece.title %>
          </span>
          <span>&nbsp;</span>
          <% if (loggedIn) { %>
            <!-- <a href="/writings/<%= piece._id %> " class="underline text-sm">View</a> -->
            <a href="/writings/<%= piece._id %>/edit" class="underline text-blue-600 text-sm">Edit</a>
            <a href="/writings/<%= piece._id %>/delete?_method=DELETE" class="underline text-red-600 text-sm">Delete</a>
            <% } %>
        </h3>
      </a>
      <h4>
        <%= piece.description %>
      </h4>

    </div>

    <% }) %>
</div>
<script src="/js/apiActions.js"></script>